.Button {
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Color {
  background-color: lightgray;
  color: #000;
}

.Button:hover {
  background-color: #a9a9a9;
  border-color: transparent;
  cursor: pointer;
}

.Button:active {
  background-color: lightgray !important;
  color: #000 !important;
}

.Button:focus {
  background-color: #a9a9a9;
}

.Attending {
  background-color: black;
  color: white;
}

.Attending:active {
  background-color: #000;
}

.Attending:focus {
  background-color: #000;
}

.AttendingDeactivated {
  background-color: lightgray !important;
  color: #000 !important;
  border-color: transparent !important;
}
