.Form {
    border: none;
    border-bottom: 2px black solid;
  }
  
  .Button {
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Color {
    background-color: #a9a9a9;
    color: #000;
  }
  
  .Button:hover {
    background-color: lightgray;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:active {
    background-color: #a9a9a9 !important;
    color: #000 !important;
  }
  
  .Button:focus {
    background-color: lightgray;
  }